/public/build
/public/hot
/public/client
/public/storage
/storage/*.key
/public/static
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
# Archivos sensibles
.env
.env.backup
config.php

# Dependencias
/vendor/
node_modules/

# Cliente Habbo / Nitro
public/swf/
public/nitro-assets/
public/nitro-react/
public/build/

# Caché y logs
storage/
bootstrap/cache/*.php
*.log

# Archivos del sistema
.idea/
.vscode/
.DS_Store
Thumbs.db

# Archivos temporales o de entorno
*.tmp
.env.local
.env.development
.env.production

# Archivos grandes opcionales
*.zip
*.rar
*.tar